@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    margin: 0;padding: 0;
}

/* Contact Page Styling */
.main_cont{
    width: 100%;
    display: flex;
}
.cont-div{
    width: 50%;
    height: 40vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
   
}
.cont-div h1{
    font-size: 2.5rem;
    color: blue;
    background-color: lightblue;
    border-radius: 12px;
    padding: 3px 7px ;
}
.cont-div form{
    display: flex;
    flex-direction: column;
    width: 55%;
    
}
.cont-div form input{ 
    display: flex;
    margin: 10px auto;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
    padding: 5px;
}
.cont-div button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    line-height: 5vh;
}
.cont-div button:hover{
    background-color: rgb(103, 155, 172);
    color: greenyellow;
}
.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.img_div img{
    width: 45vw;
    height: 80vh;
    margin-bottom: 10px;
}
.sec-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.blue-cont{
    width: 50%;
    background-color: blue;
    margin: 1rem;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px 20px;

}
#phone{
    font-size: 4rem;
    margin-top: 30px;
}
.text-div{
    margin: 30px;
    text-align: center;
}
.text-div button{
    border: none;
    background-color: white;
    color: black;
    padding: 4px;
    border-radius: 3px;
    margin: 4px 0;
    box-shadow: 1px 1px 4px 1px gray;
}
a img{
width: 4vw;
height: 7vh;
}

/* Footer Page Styling */

.foot_div{
    width: 100%;
    height: 50vh;
    background-color: blue;
    color: white;
    display: flex;
    position: relative;
    bottom: 0px;
    margin-top: 1px;
}
.left_foot{
    width: 33%;
    padding: 12px;
}
.left_foot h2{
    font-family: 'Bacasime Antique', serif;
    font-size: 3rem;
}
.left_foot h3{
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px solid white;
    display: inline-block;
} 
#light-logo{
    font-size: 2.5rem;
}
.center-foot{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}
.foot-i{
    margin: 10px 10px;
    cursor: pointer;
}
.foot-i:hover{
    color: wheat;
}
.right-foot{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-foot input{
    width: 50%;
    background: lightcyan;
    border: none;
    color: gray;
    outline: none;
    padding: 4px;
    margin-top: 20px;
}
.right-foot button{
    width: 30%;
    background-color: white;
    margin-top: 5px;
    border: none;
    padding: 4px;
    border-radius: 2px;
    color: blue;
}
.right-foot button:hover{
color: white;
background-color: blue;
border: 1px solid white;
}
.footNote{
    text-align: center;
    width: 100%;
    height: 4vh;
    background-color: darkblue;
    color: white;
}

/* Navbar comp Styling */

nav li .nav-link{
    font-family: 'Tektur', cursive;
    font-weight: 400;
    color: black;
    
    
}
.nav_logo h2{
    font-family: 'Bacasime Antique', serif;
    font-weight: bolder;
    color: darkblue;
}
li .active{
    color: darkblue !important;
    border-bottom: 1px solid blue !important;
    
}

/*  About Page styling */

.ab-div{
    width: 100%;
    height: 70vh;
    display: flex;
}
.ab-first{
    width: 50%;
    height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 20px;

}
.ab-first h5{
    text-align: left;

}
.ab-first h2{
    color: darkblue;
    font-family: 'Caprasimo', cursive;
    letter-spacing: 4px;
    line-height: 40px;

}
.ab-first h6{
    text-align: justify;
    margin: 2rem 0;
}
strong{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.btn-get-started{
    width: 8vw;
    border: 1px solid blue;
    background: transparent;
    color: black;
    border-radius: 50px;
    margin-bottom: 2rem;
}
.btn-get-started:hover{
    background: blue;
    color: white;
}
.ab-sec img {
    height: 70vh;
}
